body {
    background-color: antiquewhite;
}

header {
    padding: 2rem;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    font-size: 1.5rem;

}

ul {
    margin: 2rem 0;
    font-size: 1.3rem;
}

ol {
    margin: 2rem 0;
    font-size: 1.3rem;
}

.products-list {
    border: 0.3rem solid #ccc;
    border-radius: 1rem;
    list-style: none;
}

.products-list > li {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    
}

.products-list > li + li {    
    border-top: 0.3rem solid #ccc;
}

.products-list .title {    
    font-weight: bold;
}

.products-list .count {    
    padding: 0.5rem 1rem;
    background-color: #ccc;
}


